<footer>
    <div class="container-fluid d-print-none pb-4">
        <div class="container">
            <div class="row copyright">
                <div class="col-sm-12">
                    <p>
                        Theme made by <a href="https://github.com/PraserX" target="_blank">Praser</a>. Powered by Grav CMS.<br>
                        &copy; {{ "now"|date("Y") }} {{ config.theme["footer-copyright"] }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
