{% extends 'partials/base.html.twig' %}
{% block content %}
<div class="default container-fluid">
  <div class="row no-gutters">
    <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-6 offset-xl-2 pl-3 pr-3">
      {{ page.content }}
    </div>
  </div>
</div>
{% endblock %}
